<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Minha Página</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>item</ion-item>
    
    <ion-item>item</ion-item>
    
    <ion-item>item</ion-item>
    
    <ion-item>item</ion-item>
    
    <ion-item>item</ion-item>
    
    <ion-item>item</ion-item>
    
    <ion-item>item</ion-item>
    
  </ion-list>
</ion-content>